!!! 5
%html
%head
  %title Gamez
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body.bp
  #container
    #nav
      .user_nav= user_actions
      %h1#masthead= link_to "Gamez", root_url
      = admin_nav unless @current_user.nil?
    = print_flash_messages
    #content= yield
